//Grid
$gutter_width: 2rem;
$column_count: 5;

//http://clrs.cc/
$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v1in7d');
	src:url('fonts/icomoon.eot?#iefixv1in7d') format('embedded-opentype'),
		url('fonts/icomoon.woff?v1in7d') format('woff'),
		url('fonts/icomoon.ttf?v1in7d') format('truetype'),
		url('fonts/icomoon.svg?v1in7d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin font-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@page {
  margin: 3rem 0;
}

html, body { width: 100%; height: 100%; margin: 0; }
* { box-sizing: border-box; }

html {
  font-size: 18px;
  line-height: 1.2;
}
body {
  margin: 10rem auto 0;
  background-color: #FFFFFF;
  color: $black;
}
@media print {
  html { font-size: 12pt; }
  body { margin-top: 0; height: 11in; width: 8.5in; position: relative; }
}

h1, h2 {
  position: relative;
  margin-top: 3em;
  margin-bottom: 1em;
  border-bottom: 1px dotted #DDDDDD;

  small {
    float: right;
    line-height: 2;
  }
}
h1 + h2 { margin-top: 0; }
p { margin: 0 0 1rem; }
em {
  font-style: normal;
  border-bottom: 1px dotted #DDDDDD;
}

article {
  margin-left: unquote("calc((100% - #{$gutter_width}) / #{$column_count} * 1 + #{$gutter_width})");
  margin-right: unquote("calc((100% - #{$gutter_width}) / #{$column_count} * 2 + #{$gutter_width})");

  @media print {
    margin-left: $gutter_width;
    margin-right: unquote("calc((100% - #{$gutter_width}) / #{$column_count} * 1 + #{$gutter_width})");
    page-break-inside: avoid;
  }
}

aside {
  position: absolute;
  width: unquote("calc((100% - #{$gutter_width}) / #{$column_count} * 1 - #{$gutter_width})");
  right: unquote("calc((100% - #{$gutter_width}) / #{$column_count} * 1)");
  margin-right: $gutter_width;

  @media print {
    right: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;

  @media print {
    position: relative;
    h1 { margin-top: 1rem; }
  }

  aside h2 {
    height: 2.45rem;
    line-height: 2.8rem;
  }
  h1, h2 {
    margin-bottom: 0;
    border-bottom: 1px dotted #BBBBBB;
  }
}

article.first-child aside h2 {
  height: 2.5rem;
  line-height: 2.8rem;
}
article aside h2 a {
  text-decoration: none;
}

@media print {
  a {
    text-decoration: none;
    color: inherit;
  }
}
a[href^="http://github.com"] {
  text-decoration: none;
  &:before {
    @include font-icon;
    content: "\e600";
    padding-left: 0.5rem;
  }
  @media print {
    &:before { display: none; }
    &:after {
      margin-left: 1rem;
      content: attr(href);
      font-size: 1rem;
      text-decoration: underline;
    }
  }
}
